<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for CardioFILE" Description="Code analysis rules for CardioFILE.csproj." ToolsVersion="17.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1001" Action="Warning" />
    <Rule Id="CA1009" Action="Warning" />
    <Rule Id="CA1016" Action="Warning" />
    <Rule Id="CA1033" Action="Warning" />
    <Rule Id="CA1049" Action="Warning" />
    <Rule Id="CA1060" Action="Warning" />
    <Rule Id="CA1061" Action="Warning" />
    <Rule Id="CA1063" Action="Warning" />
    <Rule Id="CA1065" Action="Warning" />
    <Rule Id="CA1301" Action="Warning" />
    <Rule Id="CA1400" Action="Warning" />
    <Rule Id="CA1401" Action="Warning" />
    <Rule Id="CA1403" Action="Warning" />
    <Rule Id="CA1404" Action="Warning" />
    <Rule Id="CA1405" Action="Warning" />
    <Rule Id="CA1410" Action="Warning" />
    <Rule Id="CA1415" Action="Warning" />
    <Rule Id="CA1821" Action="Warning" />
    <Rule Id="CA1900" Action="Warning" />
    <Rule Id="CA1901" Action="Warning" />
    <Rule Id="CA2002" Action="Warning" />
    <Rule Id="CA2100" Action="Warning" />
    <Rule Id="CA2101" Action="Warning" />
    <Rule Id="CA2108" Action="Warning" />
    <Rule Id="CA2111" Action="Warning" />
    <Rule Id="CA2112" Action="Warning" />
    <Rule Id="CA2114" Action="Warning" />
    <Rule Id="CA2116" Action="Warning" />
    <Rule Id="CA2117" Action="Warning" />
    <Rule Id="CA2122" Action="Warning" />
    <Rule Id="CA2123" Action="Warning" />
    <Rule Id="CA2124" Action="Warning" />
    <Rule Id="CA2126" Action="Warning" />
    <Rule Id="CA2131" Action="Warning" />
    <Rule Id="CA2132" Action="Warning" />
    <Rule Id="CA2133" Action="Warning" />
    <Rule Id="CA2134" Action="Warning" />
    <Rule Id="CA2137" Action="Warning" />
    <Rule Id="CA2138" Action="Warning" />
    <Rule Id="CA2140" Action="Warning" />
    <Rule Id="CA2141" Action="Warning" />
    <Rule Id="CA2146" Action="Warning" />
    <Rule Id="CA2147" Action="Warning" />
    <Rule Id="CA2149" Action="Warning" />
    <Rule Id="CA2200" Action="Warning" />
    <Rule Id="CA2202" Action="Warning" />
    <Rule Id="CA2207" Action="Warning" />
    <Rule Id="CA2212" Action="Warning" />
    <Rule Id="CA2213" Action="Warning" />
    <Rule Id="CA2214" Action="Warning" />
    <Rule Id="CA2216" Action="Warning" />
    <Rule Id="CA2220" Action="Warning" />
    <Rule Id="CA2229" Action="Warning" />
    <Rule Id="CA2231" Action="Warning" />
    <Rule Id="CA2232" Action="Warning" />
    <Rule Id="CA2235" Action="Warning" />
    <Rule Id="CA2236" Action="Warning" />
    <Rule Id="CA2237" Action="Warning" />
    <Rule Id="CA2238" Action="Warning" />
    <Rule Id="CA2240" Action="Warning" />
    <Rule Id="CA2241" Action="Warning" />
    <Rule Id="CA2242" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="EnableGenerateDocumentationFile" Action="None" />
    <Rule Id="IDE0001" Action="None" />
    <Rule Id="IDE0002" Action="None" />
    <Rule Id="IDE0003" Action="None" />
    <Rule Id="IDE0004" Action="None" />
    <Rule Id="IDE0005" Action="None" />
    <Rule Id="IDE0007" Action="None" />
    <Rule Id="IDE0008" Action="None" />
    <Rule Id="IDE0009" Action="None" />
    <Rule Id="IDE0010" Action="None" />
    <Rule Id="IDE0011" Action="None" />
    <Rule Id="IDE0016" Action="None" />
    <Rule Id="IDE0017" Action="None" />
    <Rule Id="IDE0018" Action="None" />
    <Rule Id="IDE0019" Action="None" />
    <Rule Id="IDE0020" Action="None" />
    <Rule Id="IDE0021" Action="None" />
    <Rule Id="IDE0022" Action="None" />
    <Rule Id="IDE0023" Action="None" />
    <Rule Id="IDE0024" Action="None" />
    <Rule Id="IDE0025" Action="None" />
    <Rule Id="IDE0026" Action="None" />
    <Rule Id="IDE0027" Action="None" />
    <Rule Id="IDE0028" Action="None" />
    <Rule Id="IDE0029" Action="None" />
    <Rule Id="IDE0030" Action="None" />
    <Rule Id="IDE0031" Action="None" />
    <Rule Id="IDE0032" Action="None" />
    <Rule Id="IDE0034" Action="None" />
    <Rule Id="IDE0036" Action="None" />
    <Rule Id="IDE0037" Action="None" />
    <Rule Id="IDE0038" Action="None" />
    <Rule Id="IDE0039" Action="None" />
    <Rule Id="IDE0040" Action="None" />
    <Rule Id="IDE0041" Action="None" />
    <Rule Id="IDE0042" Action="None" />
    <Rule Id="IDE0043" Action="None" />
    <Rule Id="IDE0044" Action="None" />
    <Rule Id="IDE0045" Action="None" />
    <Rule Id="IDE0046" Action="None" />
    <Rule Id="IDE0047" Action="None" />
    <Rule Id="IDE0048" Action="None" />
    <Rule Id="IDE0049" Action="None" />
    <Rule Id="IDE0051" Action="None" />
    <Rule Id="IDE0052" Action="None" />
    <Rule Id="IDE0053" Action="None" />
    <Rule Id="IDE0054" Action="None" />
    <Rule Id="IDE0055" Action="None" />
    <Rule Id="IDE0056" Action="None" />
    <Rule Id="IDE0057" Action="None" />
    <Rule Id="IDE0058" Action="None" />
    <Rule Id="IDE0059" Action="None" />
    <Rule Id="IDE0060" Action="None" />
    <Rule Id="IDE0061" Action="None" />
    <Rule Id="IDE0062" Action="None" />
    <Rule Id="IDE0063" Action="None" />
    <Rule Id="IDE0064" Action="None" />
    <Rule Id="IDE0065" Action="None" />
    <Rule Id="IDE0066" Action="None" />
    <Rule Id="IDE0071" Action="None" />
    <Rule Id="IDE0072" Action="None" />
    <Rule Id="IDE0073" Action="None" />
    <Rule Id="IDE0074" Action="None" />
    <Rule Id="IDE0075" Action="None" />
    <Rule Id="IDE0076" Action="None" />
    <Rule Id="IDE0077" Action="None" />
    <Rule Id="IDE0078" Action="None" />
    <Rule Id="IDE0079" Action="None" />
    <Rule Id="IDE0080" Action="None" />
    <Rule Id="IDE0082" Action="None" />
    <Rule Id="IDE0083" Action="None" />
    <Rule Id="IDE0090" Action="None" />
    <Rule Id="IDE0100" Action="None" />
    <Rule Id="IDE0110" Action="None" />
    <Rule Id="IDE0120" Action="None" />
    <Rule Id="IDE0121" Action="None" />
    <Rule Id="IDE0130" Action="None" />
    <Rule Id="IDE0150" Action="None" />
    <Rule Id="IDE0160" Action="None" />
    <Rule Id="IDE0161" Action="None" />
    <Rule Id="IDE0170" Action="None" />
    <Rule Id="IDE0180" Action="None" />
    <Rule Id="IDE0200" Action="None" />
    <Rule Id="IDE0210" Action="None" />
    <Rule Id="IDE0211" Action="None" />
    <Rule Id="IDE0220" Action="None" />
    <Rule Id="IDE0230" Action="None" />
    <Rule Id="IDE0240" Action="None" />
    <Rule Id="IDE0241" Action="None" />
    <Rule Id="IDE0250" Action="None" />
    <Rule Id="IDE0251" Action="None" />
    <Rule Id="IDE0260" Action="None" />
    <Rule Id="IDE0270" Action="None" />
    <Rule Id="IDE0280" Action="None" />
    <Rule Id="IDE0290" Action="None" />
    <Rule Id="IDE0300" Action="None" />
    <Rule Id="IDE0301" Action="None" />
    <Rule Id="IDE0302" Action="None" />
    <Rule Id="IDE0303" Action="None" />
    <Rule Id="IDE0304" Action="None" />
    <Rule Id="IDE0305" Action="None" />
    <Rule Id="IDE0306" Action="None" />
    <Rule Id="IDE0320" Action="None" />
    <Rule Id="IDE0330" Action="None" />
    <Rule Id="IDE0340" Action="None" />
    <Rule Id="IDE1005" Action="None" />
    <Rule Id="IDE1006" Action="None" />
    <Rule Id="IDE2000" Action="None" />
    <Rule Id="IDE2001" Action="None" />
    <Rule Id="IDE2002" Action="None" />
    <Rule Id="IDE2003" Action="None" />
    <Rule Id="IDE2004" Action="None" />
    <Rule Id="IDE2005" Action="None" />
    <Rule Id="IDE2006" Action="None" />
    <Rule Id="JSON001" Action="None" />
    <Rule Id="JSON002" Action="None" />
    <Rule Id="RE0001" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Features" RuleNamespace="Microsoft.CodeAnalysis.Features">
    <Rule Id="IDE0033" Action="None" />
    <Rule Id="IDE0070" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.UpgradeAssistant.Maui" RuleNamespace="Microsoft.UpgradeAssistant.Maui">
    <Rule Id="UA1001" Action="None" />
  </Rules>
</RuleSet>